html {
    height: 100%;
    width: 100%;
}

body {
    width: 100%;
    height: 100%;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: slategray;
    min-width: 80%;
    min-height: 8%;
    border-radius: 5px;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #951791;
    width: max-content;
    height: max-content;
    min-width: 20%;
    min-height: 20%;
}

div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #951791;
    width: max-content;
    height: max-content;
}

#div2 {
    flex-direction: row-reverse;
}

span {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: beige;
}